<div id="hit" style="position: fixed; top: 0; width: 100%; height: 100%; z-index: -1;">
        <video id="video" autoplay  controls="" preload="true" poster="http://media.w3.org/2010/05/sintel/poster.png" style="width:100%; height:100%">
            <source id="mp4" src="Video/slide_02.mp4" type="video/mp4">
    
            <p>Your user agent does not support the HTML5 Video element.</p>
        </video>
    </div>


<script>
    window.document.getElementById('hit').addEventListener('ended', myHandler, true);

    function myHandler() {
        // mess();
        a_count++;
        count_cz++;
        set_persentage();
        
        ;
    }
</script> 